html {
  line-height: 2.5rem;
  max-width: 100%;
}
body {
  font-size: 1.9rem;
  font-family: "Montserrat", "Segoe UI", "Helvetica", sans-serif;
  background: #fdfffc;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: 500;
}

/* copyboard style */

.tooltip {
  position: relative;
  display: inline-block;
  word-break: break-word;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.4rem;
  position: relative;
  z-index: 1;
  bottom: 75%;
  left: 0;
  top: -10rem;
  opacity: 0;
  cursor: pointer;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  transition: opacity 0.25s ease-in;
}

.tooltip .tooltiptext::after {
  content: "";
  position: relative;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.tooltip:focus .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}


/* end of copyboard code */

.content {
  text-align: center;
  word-wrap: break-word;
}

.content .about {
  width: 100%;
  padding: 0 1rem;
  padding-top: 2rem;
  color: #222;
}

.content .about h1 {
  letter-spacing: 0.4rem;
}

.content .about h5 {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

.content .mainKey {
  letter-spacing: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
  word-wrap: break-word;
  color: #8c86aa;
}

.content .previousKey {
  opacity: 0.25;
}

.content .previousKey .key {
  text-decoration: line-through;
}

.content .button-gen-new button {
  color: #222;
  padding: 0.8rem;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.content .button-gen-new button:hover {
  padding: 0.5rem 1.75rem;
}

.github-link {
  text-align: center;
  padding: 3rem 0;
}

.github-link img {
  min-width: 90px;
  min-height: 90px;
  transition: opacity 0.275s ease-in;
}

.github-link img:hover {
  opacity: 0.7;
}
